[Desktop Entry]
Name=Parileus
Comment=Parileus theme for plasma

X-KDE-PluginInfo-Author=Parilia
X-KDE-PluginInfo-Email=parilia[at]mailfence[dot]com
X-KDE-PluginInfo-Name=Parileus
X-KDE-PluginInfo-Version=5.62.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[Wallpaper]
defaultWallpaperTheme=
defaultFileSuffix=
defaultWidth=
defaultHeight=

[ContrastEffect]
enabled=false
contrast=0.2
#intensity is disabled, in order to auto adjust to the chosen theme color
#intensity=2.0
saturation=1.7
